/* -------------------------------------------------------

Jonathan Culp //

JonathanCulp.com

Version: .07

Author: Jonathan Culp

Contact: JonathanCulp.com

----------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

QIVEFqb
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}table{border-collapse:collapse;border-spacing:0;}


body{
    background: url(http://i.imgur.com/tVwwGaj.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      min-height: 100vh;
}

body {
    font-family: 'Roboto Black', Helvetica, sans-serif;
    background-color: #000;
    font-smooth: always;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizedLegibility;
}

a {
    text-decoration: none;
    color: #000;
}


#nav {
    position: fixed;
    height: 20px;
    width: 100%;
    margin-top: 20px;
    margin-left: 30px;
}

#nav h1 {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2.25em;
    overflow: visible;
}

h3 {
    position: absolute;
    bottom: 3px;
    right: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1.75em;
    z-index: 1;
}

[draggable=true] {
    cursor: grabbing;
}

#about{
    position: absolute;
    color: #fff;
    width: 230px;
    height: 275px;
    left: 15%;
    top: 17%;
    background-color: #fff;
}

#contact{
    position: absolute;
    color: #fff;
    width: 200px;
    height: 200px;
    left: 37%;
    top: 70%;
    background-color: #fff;
}

#work{
    position: absolute;
    width: 300px;
    height: 400px;
    left: 65%;
    top: 5%;
    background-color: #fff;
}

p {
    margin: 5px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1.25em;
}

#portfolio a{
    color: #fff;
}


#work:hover{
animation: fade 5s;
animation-fill-mode: forwards;
cursor: grab;
}

#contact:hover{
animation: pulse 2s;
animation-fill-mode: forwards;
cursor: grab;
}

#about:hover{
animation: pulse 2s;
animation-fill-mode: forwards;
cursor: grab;
}


@keyframes pulse {
 0% {
    color: #fff;
  }

  30% {
    color: #FF4136;
  }

    100% {
    color: #000;
  }
}

@keyframes fade {
 0% {
    background-color: #fff;
  }

  30% {
    background-color: #FF4136;
  }

    100% {
    background-color: #FF4136;
  }
}

/* Resize */
 @media (max-width: 960px) {

   #work{
     left: 47%;
     top: 2%;
   }
   #about{
     left: 7%;
     top: 30%;
   }
   #contact{
     left: 42%;
     top: 65%;
   }
}

@media (max-width: 700px) {

  #about{
    top: 10%;
    height: 200px;
    width: 100%;
    left: 0%;
  }

  #work{
    top: 38%;
    height: 300px;
    width: 100%;
    left: 0%;
  }

  #contact{
    left: 0%;
    width: 100%;
    height: 150px;
    top: 80%;
  }
}
